{% extends "account/base.html" %}
{% load static %}
{% load crispy_forms_tags %}

{% block title %}User: {{ object.username }}{% endblock %}

{% block inner %}
<section class="contact spad">
  <div class="container text-center">
    <h2>Add Address</h2>
    <div class="row mt-4">
        <form method="POST" class="mx-auto" action="{% url 'users:list_create_address' %}">
            {% csrf_token %}
            {{form|crispy}}
            <input class="btn-success" type="submit" value="Add"/>
        </form>
      </div>
  </div>
</div>
</section>
<!-- Contact Section End -->
{% endblock inner %}
