{% extends "account/base.html" %}
{% load static %}

{% block title %}User: {{ object.username }}{% endblock %}
{% block breadcrumb_links %}
    <a href="/"><i class="fa fa-home"></i> Home</a>
    <a href="{% url 'users:detail' request.user.username%}"><i class="fa fa-home"></i> Accounts</a>
    <span>List Orders</span>
{% endblock %}
{% block inner %}
<section class="contact spad">
  <div class="container">
    <h2>Orders</h2>
    <div class="row">
        {% for order in orders %}
        <div class="col-sm-6 mt-4">
          <div class="card text-center">
            <div class="card-body">
              <h5 class="card-title">#{{ order.id }}</h5>
              <p class="card-text">{{order.shipping_address}}</p>
              <p class="card-text">Total: {{order.total}} | Items: {{order.cart.items.count}}</p>
              <p class="card-text">{{order.created_at}}</p>
              <a href="{% url 'users:order_detail' order.id %}" class="btn btn-primary">Detail</a>
            </div>
          </div>
        </div>
        {% endfor %}
      </div>
  </div>
</div>
</section>
<!-- Contact Section End -->
{% endblock inner %}
