{% extends "account/base.html" %}
{% load static %}

{% block title %}User: {{ object.username }}{% endblock %}
{% block breadcrumb_links %}
    <a href="/"><i class="fa fa-home"></i> Home</a>
    <a href="{% url 'users:detail' request.user.username%}"><i class="fa fa-home"></i> Accounts</a>
    <span>List Address</span>
{% endblock %}
{% block inner %}
<section class="contact spad">
  <div class="container">
    <h2>Addresses</h2>
    <div class="row">
        {% for address in addresses %}
        <div class="col-sm-6 mt-4">
          <div class="card text-center">
            <div class="card-body">
              <h5 class="card-title">#{{ forloop.counter }}</h5>
              <p class="card-text">{{address}}</p>
              <a href="{% url 'users:edit_address' address.id %}" class="btn btn-primary">Edit</a>
            </div>
          </div>
        </div>
        {% endfor %}
      </div>

  </div>
  <div class="text-center">
    <a class="btn btn-success mt-4" href="{% url 'users:create_address' %}" role="button">Add new Address</a>
  </div>
</div>
</section>
<!-- Contact Section End -->
{% endblock inner %}
