{% extends "shopbase.html" %}
{% load static %}

{% block content %}
    <!-- Breadcrumb Begin -->
    <div class="breadcrumb-option">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <div class="breadcrumb__links">
                        <a href="./index.html"><i class="fa fa-home"></i> Home</a>
                        <span>Shop</span>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Breadcrumb End -->

    <!-- Shop Section Begin -->
    <section class="shop spad">
        <div class="container">
            <div class="row">
                <div class="col-lg-3 col-md-3">
                    {% include 'shop/sidebar.html'%}
                </div>
                <div class="col-lg-9 col-md-9">
                    <div class="row">
                        {% for item_page in pages %}
                        <div class="col-lg-4 col-md-6">
                            <div class="product__item">
                                {% with item_page.product.product_medias.first.url as product_image_url %}
                                    <div class="product__item__pic set-bg" data-setbg="{{product_image_url}}">
                                        <div class="label new">New</div>
                                        <ul class="product__hover">
                                            <li><a href="{{product_image_url}}" class="image-popup"><span class="arrow_expand"></span></a></li>
                                            <li><a href="#"><span class="icon_heart_alt"></span></a></li>
                                            <li><a href="#"><span class="icon_bag_alt"></span></a></li>
                                        </ul>
                                    </div>
                                {% endwith %}
                                <div class="product__item__text">
                                    <h6><a href="{{item_page.url}}">{{item_page.title}}</a></h6>
                                    <div class="rating">
                                        <i class="fa fa-star"></i>
                                        <i class="fa fa-star"></i>
                                        <i class="fa fa-star"></i>
                                        <i class="fa fa-star"></i>
                                        <i class="fa fa-star"></i>
                                    </div>
                                    {% with item_page.product.get_price_range as price_range %}
                                        {% if price_range.sale_price__max == price_range.sale_price__min%}
                                            <div class="product__price">$ {{price_range.sale_price__min}}</div>
                                        {% else %}
                                            <div class="product__price">$ {{price_range.sale_price__min}} - $ {{price_range.sale_price__max}}</div>
                                        {% endif %}
                                    {% endwith %}
                                </div>
                            </div>
                        </div>
                        {% endfor %}

                        <div class="col-lg-12 text-center">
                            <div class="pagination__option">
                                {% if pages.has_previous %}
                                    <a href=" ?{% for key, value in request.GET.items %}{% if key != 'page' %}&{{ key }}={{ value }}{% endif %}{% endfor %}&page={{ pages.previous_page_number  }}"><i class="fa fa-angle-left"></i></a>
                                {% endif %}
                                    <a class='active'>{{pages.number}}</a>
                                {% if pages.has_next %}
                                    <a href="?{% for key, value in request.GET.items %}{% if key != 'page' %}&{{ key }}={{ value }}{% endif %}{% endfor %}&page={{ pages.next_page_number  }}"><i class="fa fa-angle-right"></i></a>
                                {% endif %}
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- Shop Section End -->

    <!-- Instagram Begin -->
    <div class="instagram">
        <div class="container-fluid">
            <div class="row">
                <div class="col-lg-2 col-md-4 col-sm-4 p-0">
                    <div class="instagram__item set-bg" data-setbg="{% static 'shop/img/instagram/insta-1.jpg' %}">
                        <div class="instagram__text">
                            <i class="fa fa-instagram"></i>
                            <a href="#">@ ashion_shop</a>
                        </div>
                    </div>
                </div>
                <div class="col-lg-2 col-md-4 col-sm-4 p-0">
                    <div class="instagram__item set-bg" data-setbg="{% static 'shop/img/instagram/insta-2.jpg' %}">
                        <div class="instagram__text">
                            <i class="fa fa-instagram"></i>
                            <a href="#">@ ashion_shop</a>
                        </div>
                    </div>
                </div>
                <div class="col-lg-2 col-md-4 col-sm-4 p-0">
                    <div class="instagram__item set-bg" data-setbg="{% static 'shop/img/instagram/insta-3.jpg' %}">
                        <div class="instagram__text">
                            <i class="fa fa-instagram"></i>
                            <a href="#">@ ashion_shop</a>
                        </div>
                    </div>
                </div>
                <div class="col-lg-2 col-md-4 col-sm-4 p-0">
                    <div class="instagram__item set-bg" data-setbg="{% static 'shop/img/instagram/insta-4.jpg' %}">
                        <div class="instagram__text">
                            <i class="fa fa-instagram"></i>
                            <a href="#">@ ashion_shop</a>
                        </div>
                    </div>
                </div>
                <div class="col-lg-2 col-md-4 col-sm-4 p-0">
                    <div class="instagram__item set-bg" data-setbg="{% static 'shop/img/instagram/insta-5.jpg' %}">
                        <div class="instagram__text">
                            <i class="fa fa-instagram"></i>
                            <a href="#">@ ashion_shop</a>
                        </div>
                    </div>
                </div>
                <div class="col-lg-2 col-md-4 col-sm-4 p-0">
                    <div class="instagram__item set-bg" data-setbg="{% static 'shop/img/instagram/insta-6.jpg' %}">
                        <div class="instagram__text">
                            <i class="fa fa-instagram"></i>
                            <a href="#">@ ashion_shop</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Instagram End -->
{% endblock %}
