{% extends "shopbase.html" %}
{% load static %}

{% block content %}
<div class="breadcrumb-option">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <div class="breadcrumb__links">
                    <a href="./index.html"><i class="fa fa-home"></i> Home</a>
                    <a href="#">Women’s </a>
                    <span>Essential structured blazer</span>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Breadcrumb End -->

<!-- Product Details Section Begin -->
<section class="product-details spad">
    <div class="container">
        <div class="row">
            <div class="col-lg-6">
                <div class="product__details__pic">
                    <div class="product__details__pic__left product__thumb nice-scroll">
                        {% for product_image in page.product.product_medias.all %}
                            {% if forloop.first %}
                                <a class="pt active" href="#product-{{forloop.counter}}">
                                    <img src="{{product_image.url}}" alt="">
                                </a>
                            {% else %}
                                <a class="pt" href="#product-{{forloop.counter}}">
                                    <img src="{{product_image.url}}" alt="">
                                </a>
                            {% endif %}
                        {% endfor %}
                    </div>
                    <div class="product__details__slider__content">
                        <div class="product__details__pic__slider owl-carousel">
                            {% for product_image in page.product.product_medias.all %}
                                <img data-hash="product-{{forloop.counter}}" class="product__big__img" src="{{product_image.url}}" alt="">
                            {% endfor %}
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-6">
                <div class="product__details__text">
                    <h3>{{page.product.name}} <span>Brand: {{page.product.brand.name}}</span></h3>
                    <div class="rating">
                        <i class="fa fa-star"></i>
                        <i class="fa fa-star"></i>
                        <i class="fa fa-star"></i>
                        <i class="fa fa-star"></i>
                        <i class="fa fa-star"></i>
                        <span>( 138 reviews )</span>
                    </div>
                    <div class="product__details__price">
                        {%if subproduct %}
                            $ {{subproduct.sale_price}}
                            <span>
                                $ {{subproduct.store_price}}
                            </span>
                        {%else%}
                            {%if price_range.sale_price__min == price_range.sale_price__max%}
                                $ {{price_range.sale_price__min}}
                            {% else%}
                                $ {{price_range.sale_price__min}} - $ {{price_range.sale_price__max}}
                            {% endif %}
                            <span>
                                {%if price_range.store_price__min == price_range.store_price__max%}
                                    $ {{price_range.store_price__min}}
                                {% else%}
                                    $ {{price_range.store_price__min}} - $ {{price_range.store_price__max}}
                                {% endif %}
                            </span>
                        {%endif%}

                    </div>
                    <p>{{page.product.description}}</p>
                    <!-- Form beggin -->
                    <form id="myform" method="POST" action="{% url "shop:add_to_cart" %}">
                        {% csrf_token %}
                    <div class="product__details__button">
                        <div class="quantity">
                            <span>Quantity:</span>
                            <div class="pro-qty">
                                <input id="quantity" type="text" name="quantity" value="1">
                            </div>
                        </div>
                        <a href="#" onclick="document.getElementById('myform').submit()" class="cart-btn"><span class="icon_bag_alt"></span> Add to cart</a>
                        <ul>
                            <li><a href="#"><span class="icon_heart_alt"></span></a></li>
                            <li><a href="#"><span class="icon_adjust-horiz"></span></a></li>
                        </ul>
                    </div>
                    <div class="product__details__widget">
                        <ul>
                            <li>
                                <span>Availability:</span>
                                <div class="stock__checkbox">
                                    <label for="stockin">
                                        In Stock
                                        <input type="checkbox" id="stockin">
                                        <span class="checkmark"></span>
                                    </label>
                                </div>
                            </li>

                            <li>
                                <span>Available color:</span>
                                {% for col in colours%}
                                    {% if col.name|lower == colour|lower %}
                                        <a>{{col.name}}</a>
                                    {% else %}
                                        {% with page.url|add:"?colour="|add:col.name as colour_url %}
                                        <a href="{{colour_url}}"">{{col.name}}</a>
                                        {% endwith %}
                                    {% endif %}
                                {% endfor %}
                            </li>
                            <li>
                                <span>Available size:</span>
                                <div class="size__btn">
                                    {% for subp in subproducts %}
                                        {% with page.url|add:"?colour="|add:subp.colour.name|add:"&sku="|add:subp.SKU as subp_url%}
                                        {%if subproduct and subp.id == subproduct.id%}
                                        <label for="{{subp.id}}" class="">
                                            <input name="item" type="radio" id="{{subp.id}}" value="{{subp.id}}">
                                            <a href="{{subp_url}}" class="text-primary">{{subp.size.name}}</a>
                                        </label>
                                        <input type="hidden" id="custId" name="item" value="{{subp.id}}">
                                        {% else %}
                                        <label for="{{subp.id}}" class="">
                                            <input name="item" type="radio" id="{{subp.id}}" value="{{subp.id}}">
                                            <a href="{{subp_url}}" class="text-secondary">{{subp.size.name}}</a>
                                        </label>
                                        {% endif %}


                                        {% endwith %}
                                    {% endfor %}

                                </div>
                            </li>
                        </form>
                            <li>
                                <span>Promotions:</span>
                                <p>Free shipping</p>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="col-lg-12">
                <div class="product__details__tab">
                    <ul class="nav nav-tabs" role="tablist">
                        <li class="nav-item">
                            <a class="nav-link active" data-toggle="tab" href="#tabs-1" role="tab">Description</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" data-toggle="tab" href="#tabs-2" role="tab">Specification</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" data-toggle="tab" href="#tabs-3" role="tab">Reviews ( 2 )</a>
                        </li>
                    </ul>
                    <div class="tab-content">
                        <div class="tab-pane active" id="tabs-1" role="tabpanel">
                            <h6>Description</h6>
                            {% for sub in subproducts %}
                                    {{sub}}
                            {% endfor %}
                            <p>Nemo enim ipsam voluptatem quia voluptas sit aspernatur aut odit aut loret fugit, sed
                                quia consequuntur magni dolores eos qui ratione voluptatem sequi nesciunt loret.
                                Neque porro lorem quisquam est, qui dolorem ipsum quia dolor si. Nemo enim ipsam
                                voluptatem quia voluptas sit aspernatur aut odit aut loret fugit, sed quia ipsu
                                consequuntur magni dolores eos qui ratione voluptatem sequi nesciunt. Nulla
                            consequat massa quis enim.</p>
                            <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget
                                dolor. Aenean massa. Cum sociis natoque penatibus et magnis dis parturient montes,
                                nascetur ridiculus mus. Donec quam felis, ultricies nec, pellentesque eu, pretium
                            quis, sem.</p>
                        </div>
                        <div class="tab-pane" id="tabs-2" role="tabpanel">
                            <h6>Specification</h6>
                            <p>Nemo enim ipsam voluptatem quia voluptas sit aspernatur aut odit aut loret fugit, sed
                                quia consequuntur magni dolores eos qui ratione voluptatem sequi nesciunt loret.
                                Neque porro lorem quisquam est, qui dolorem ipsum quia dolor si. Nemo enim ipsam
                                voluptatem quia voluptas sit aspernatur aut odit aut loret fugit, sed quia ipsu
                                consequuntur magni dolores eos qui ratione voluptatem sequi nesciunt. Nulla
                            consequat massa quis enim.</p>
                            <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget
                                dolor. Aenean massa. Cum sociis natoque penatibus et magnis dis parturient montes,
                                nascetur ridiculus mus. Donec quam felis, ultricies nec, pellentesque eu, pretium
                            quis, sem.</p>
                        </div>
                        <div class="tab-pane" id="tabs-3" role="tabpanel">
                            <h6>Reviews ( 2 )</h6>
                            <p>Nemo enim ipsam voluptatem quia voluptas sit aspernatur aut odit aut loret fugit, sed
                                quia consequuntur magni dolores eos qui ratione voluptatem sequi nesciunt loret.
                                Neque porro lorem quisquam est, qui dolorem ipsum quia dolor si. Nemo enim ipsam
                                voluptatem quia voluptas sit aspernatur aut odit aut loret fugit, sed quia ipsu
                                consequuntur magni dolores eos qui ratione voluptatem sequi nesciunt. Nulla
                            consequat massa quis enim.</p>
                            <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget
                                dolor. Aenean massa. Cum sociis natoque penatibus et magnis dis parturient montes,
                                nascetur ridiculus mus. Donec quam felis, ultricies nec, pellentesque eu, pretium
                            quis, sem.</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        {% include "shop/related_products.html" %}
    </div>
</section>
<!-- Product Details Section End -->

{% include 'shop/instagram_block.html' %}

{% endblock %}
