<div class="shop__sidebar">
    <div class="sidebar__categories">
        <div class="section-title">
            <h4>Categories</h4>
        </div>
        <div class="categories__accordion">
            <div class="accordion" id="accordionExample">
                <div class="card">
                    <div class="card-heading " >
                        <a data-toggle="collapse" data-target="#collapseOne">Women</a>
                    </div>
                    <div id="collapseOne" class="collapse {% if genre == 'W' %}show{% endif %}" data-parent="#accordionExample">
                        <div class="card-body">
                            <ul>
                                <li><a href="/women/sandals/">Sandals</a></li>
                                <li><a href="/women/shoes/">Shoes</a></li>
                                <li><a href="/women/flip-flops/">Flip Flops</a></li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="card">
                    <div class="card-heading">
                        <a data-toggle="collapse" data-target="#collapseTwo">Men</a>
                    </div>
                    <div id="collapseTwo" class="collapse {% if genre == 'M' %}show{% endif %}" data-parent="#accordionExample">
                        <div class="card-body">
                            <ul>
                                <li><a href="/men/sandals/">Sandals</a></li>
                                <li><a href="/men/shoes/">Shoes</a></li>
                                <li><a href="/men/flip-flops/">Flip Flops</a></li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="card">
                    <div class="card-heading">
                        <a data-toggle="collapse" data-target="#collapseThree">Girls</a>
                    </div>
                    <div id="collapseThree" class="collapse {% if genre == 'G' %}show{% endif %}" data-parent="#accordionExample">
                        <div class="card-body">
                            <ul>
                                <li><a href="/girls/socks/">Socks</a></li>
                                <li><a href="/girls/dress/">Dress</a></li>
                                <li><a href="/girls/apparel-set/">Apparel Set</a></li>
                                <li><a href="/girls/innerwear/">Innerwear</a></li>
                                <li><a href="/girls/bottomwear/">Bottomwear</a></li>
                                <li><a href="/girls/topwear/">Topwear</a></li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="card">
                    <div class="card-heading">
                        <a data-toggle="collapse" data-target="#collapseFour">Boys</a>
                    </div>
                    <div id="collapseFour" class="collapse {% if genre == 'B' %}show{% endif %}" data-parent="#accordionExample">
                        <div class="card-body">
                            <ul>
                                <li><a href="/boys/socks/">Socks</a></li>
                                <li><a href="/boys/apparel-set/">Apparel Set</a></li>
                                <li><a href="/boys/innerwear/">Innerwear</a></li>
                                <li><a href="/boys/bottomwear/">Bottomwear</a></li>
                                <li><a href="/boys/topwear/">Topwear</a></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <form id='myform'>
        <div class="sidebar__filter">
            <div class="section-title">
                <h4>Shop by price</h4>
            </div>
            <div class="filter-range-wrap">
                <div class="price-range ui-slider ui-corner-all ui-slider-horizontal ui-widget ui-widget-content"
                data-min="1" data-max="500"></div>
                <div class="range-slider">
                    <div class="price-input">
                        <p>Price:</p>
                        $<input  type="text" id="minamount" name="minamount" >
                        $<input type="text" id="maxamount"  name="maxamount">
                    </div>
                </div>
            </div>
            <a href="#" onclick="document.getElementById('myform').submit()">Filter</a>
        </div>
        <div class="sidebar__sizes">
            <div class="section-title">
                <h4>Shop by size</h4>
            </div>
            <div class="size__list">
                <label for="xxs">
                    xxs
                    <input type="checkbox" id="xxs" name='size' value='XXS' {% if 'XXS' in filtered_sizes %} checked {% endif %}>
                    <span class="checkmark"></span>
                </label>
                <label for="xs">
                    xs
                    <input type="checkbox" id="xs" name='size' value='XS' {% if 'XS' in filtered_sizes %} checked {% endif %}>
                    <span class="checkmark"></span>
                </label>
                <label for="xss">
                    xs-s
                    <input type="checkbox" id="xss" name='size' value='XS-S' {% if 'XS-S' in filtered_sizes %} checked {% endif %}>
                    <span class="checkmark"></span>
                </label>
                <label for="s">
                    s
                    <input type="checkbox" id="s" name='size' value='S' {% if 'S' in filtered_sizes %} checked {% endif %}>
                    <span class="checkmark"></span>
                </label>
                <label for="m">
                    m
                    <input type="checkbox" id="m" name='size' value='M' {% if 'M' in filtered_sizes %} checked {% endif %}>
                    <span class="checkmark"></span>
                </label>
                <label for="ml">
                    m-l
                    <input type="checkbox" id="ml" name='size' value='ML' {% if 'ML' in filtered_sizes %} checked {% endif %}>
                    <span class="checkmark"></span>
                </label>
                <label for="l">
                    l
                    <input type="checkbox" id="l" name='size' value='L' {% if 'L' in filtered_sizes %} checked {% endif %}>
                    <span class="checkmark"></span>
                </label>
                <label for="xl">
                    xl
                    <input type="checkbox" id="xl" name='size' value='XL' {% if 'XL' in filtered_sizes %} checked {% endif %}>
                    <span class="checkmark"></span>
                </label>
            </div>
        </div>
        <div class="sidebar__color">
            <div class="section-title">
                <h4>Shop by Colour</h4>
            </div>
            <div class="size__list color__list">
                <label for="black">
                    Blacks
                    <input type="checkbox" id="black" name="colour" value='Black'>
                    <span class="checkmark"></span>
                </label>
                <label for="whites">
                    Whites
                    <input type="checkbox" id="whites" name="colour" value='White'>
                    <span class="checkmark"></span>
                </label>
                <label for="reds">
                    Reds
                    <input type="checkbox" id="reds" name="colour" value='Red'>
                    <span class="checkmark"></span>
                </label>
                <label for="greys">
                    Greys
                    <input type="checkbox" id="greys" name="colour" value='Grey'>
                    <span class="checkmark"></span>
                </label>
                <label for="blues">
                    Blues
                    <input type="checkbox" id="blues" name="colour" value='Blue'>
                    <span class="checkmark"></span>
                </label>
                <label for="beige">
                    Beige Tones
                    <input type="checkbox" id="beige" name="colour" value='Beige'>
                    <span class="checkmark"></span>
                </label>
                <label for="greens">
                    Greens
                    <input type="checkbox" id="greens" name="colour" value='Green'>
                    <span class="checkmark"></span>
                </label>
                <label for="yellows">
                    Yellows
                    <input type="checkbox" id="yellows" name="colour" value='Yellow'>
                    <span class="checkmark"></span>
                </label>
            </div>
        </div>
    </form>
</div>
