{% extends "shopbase.html" %}
{% load static %}
{% block title %}{% block head_title %}{% endblock head_title %}{% endblock title %}
{%block menu%}
{%endblock%}
{% block content %}
    <!-- Breadcrumb Begin -->
    <div class="breadcrumb-option">
      <div class="container">
          <div class="row">
              <div class="col-lg-12">
                  <div class="breadcrumb__links">
                    {% block breadcrumb_links %}
                      <a href="./index.html"><i class="fa fa-home"></i> Home</a>
                      <span>Account</span>
                    {% endblock %}
                  </div>
              </div>
          </div>
      </div>
  </div>
  <!-- Breadcrumb End -->
<!-- Contact Section Begin -->
<section class="contact spad">
  <div class="container">
      <!-- Action buttons -->
      <div class="row">
        <div class="col-sm-12">
          <a class="btn btn-primary" href="{% url 'users:update' %}" role="button">My Info</a>
          <a class="btn btn-primary" href="{% url 'account_email' %}" role="button">E-Mail</a>
          <a class="btn btn-primary" href="{% url 'users:list_create_address' %}" role="button">Addresses</a>
          <a class="btn btn-primary" href="#" role="button">Orders</a>
          <!-- Your Stuff: Custom user template urls -->
        </div>
      </div>
      <!-- End Action buttons -->

      {% block inner %}{% endblock %}

  </div>
</div>
</section>
<!-- Contact Section End -->
{% endblock content %}
